body {
    background: #0f172a;
    font-family: Arial;
    color: white;
}

.chatbox {
    width: 40%;
    margin: 80px auto;
    text-align: center;
}

#chat {
    height: 320px;
    border: 1px solid #444;
    padding: 10px;
    overflow-y: scroll;
    margin-bottom: 10px;
    background: #020617;
}

input {
    width: 70%;
    padding: 10px;
}

button {
    padding: 10px 15px;
    cursor: pointer;
}
