<script>
    var socket = io();
    var chat = document.getElementById("chat");
    var botLine = null;

    socket.on('bot_typing', function () {
        botLine = document.createElement("p");
        botLine.innerHTML = "<b>Bot:</b> ";
        chat.appendChild(botLine);
        chat.scrollTop = chat.scrollHeight;
    });

    socket.on('bot_stream', function (word) {
        if (botLine) {
            botLine.innerHTML += word;
            chat.scrollTop = chat.scrollHeight;
        }
    });

    socket.on('bot_done', function () {
        botLine = null;
    });

    function sendMessage() {
        var msg = document.getElementById("msg").value;
        chat.innerHTML += "<p><b>You:</b> " + msg + "</p>";
        socket.emit('user_message', { message: msg });
        document.getElementById("msg").value = "";
    }
</script>
